:root {
    --primary: #1a73e8;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

.master {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Google Sans', Roboto, sans-serif;
}

/* Header */

.header {
    color: #fff;
    background-color: var(--primary);
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-family: 'Google Sans', Roboto, sans-serif;
}

.header-item {
    margin: 0;
}

.header-link,
.header-link:hover {
    color: #fff;
    text-decoration: none;
}

/* Content */

.content {
    background-color: var(--primary);
}

.page {
    padding: 3rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: #fff;
}

/* Footer */

.footer {
    flex-shrink: 0;
}

/* PHP errors tables */

.xdebug-error, .xe-notice {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Courier New, monospace;
    font-size: .8rem;
    color: initial;
    background-color: initial;
}
