:root {
    --primary: #b71c1c;
    --primary-dark: #7f0000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--primary);
}

main {
    flex: 1 0 auto;
    padding: 3rem 1rem 1rem;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Google Sans', Roboto, sans-serif;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primary-dark);
}

/* Header */

.header {
    top: 0;
    width: 100%;
    color: #fff;
    background-color: var(--primary);
    z-index: 3;
}

.header-inner {
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    font-family: 'Google Sans', Roboto, sans-serif;
}

.header-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-nav-item {
    margin: 0;
}

.header-nav-item:not(:last-child) {
    margin-right: 2rem;
}

.header a,
.header-nav-link,
.header-nav-link:hover,
.header-nav-link.btn {
    color: currentColor !important;
    text-decoration: none;
}

.header-nav-link,
.header-nav-link.btn {
    margin: 0;
    padding: .5rem 1rem;
    font-size: inherit;
    letter-spacing: .25px;
}

.header-nav-link:hover,
.header-nav-link.btn:hover {
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

/* Content */

.container-xs {
    max-width: 250px;
}

.container-sm {
    max-width: 450px;
}

.container-md {
    max-width: 768px;
}

.container-lg {
    max-width: 992px;
}

.message {
    white-space: pre-wrap;
}

.rss-item-img {
    width: 160px;
    height: 90px;
    border-radius: 4px;
}

.icon-sprite {
    width: 0;
    height: 0;
    display: none;
}

/* Footer */

.footer {
    flex-shrink: 0;
}

/* PHP errors tables */

.xdebug-var-dump, .xdebug-error, .xe-notice {
    min-height: 100px;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Courier New, monospace;
    font-size: .8rem;
    color: initial;
    background-color: initial;
}
