.btn {
    font-family: 'Google Sans', Roboto, sans-serif;
    font-size: 1rem;
    text-transform: initial;
    border-radius: 4px;
}

.btn-primary {
    background-color: #1a73e8 !important;
    border-color: #1a73e8 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #1666cb !important;
    border-color: #1666cb !important;
}